ConsoleApplication/Service References/TamagotchiService/TamagotchiService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TamagotchiWcfService.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TamagotchiWcfService.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TamagotchiContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boredom" type="xs:int" />
      <xs:element minOccurs="0" name="Cooldown" type="xs:int" />
      <xs:element minOccurs="0" name="Health" type="xs:int" />
      <xs:element minOccurs="0" name="Hunger" type="xs:int" />
      <xs:element minOccurs="0" name="IsAlive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastAccess" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastAction" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sleep" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TamagotchiContract" nillable="true" type="tns:TamagotchiContract" />
  <xs:complexType name="ArrayOfTamagotchiContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TamagotchiContract" nillable="true" type="tns:TamagotchiContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTamagotchiContract" nillable="true" type="tns:ArrayOfTamagotchiContract" />
  <xs:complexType name="ActionContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionContract" nillable="true" type="tns:ActionContract" />
</xs:schema>