ConsoleApplication/Service References/TamagotchiService/TamagotchiService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tamagotchiwcfservice.azurewebsites.net/TamagotchiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TamagotchiWcfService.Contract" />
  <xs:element name="GetTamagotchiByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchiByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TamagotchiWcfService.Contract" minOccurs="0" name="GetTamagotchiByNameResult" nillable="true" type="q1:TamagotchiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TamagotchiWcfService.Contract" minOccurs="0" name="GetTamagotchiesResult" nillable="true" type="q2:ArrayOfTamagotchiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TamagotchiWcfService.Contract" minOccurs="0" name="contract" nillable="true" type="q3:ActionContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TamagotchiWcfService.Contract" minOccurs="0" name="ExecuteActionResult" nillable="true" type="q4:TamagotchiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>