UnitTestProject/Service References/ServiceReference1/TamagotchiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TamagotchiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14090/TamagotchiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14090/TamagotchiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14090/TamagotchiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TamagotchiWcfService.Model" />
      <xsd:import schemaLocation="http://localhost:14090/TamagotchiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TamagotchiWcfService.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITamagotchiService_GetTamagotchiByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchiByName" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetTamagotchiByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchiByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetTamagotchies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchies" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetTamagotchies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchiesResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_ExecuteAction_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteAction" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_ExecuteAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteActionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITamagotchiService">
    <wsdl:operation name="GetTamagotchiByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/GetTamagotchiByName" message="tns:ITamagotchiService_GetTamagotchiByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/GetTamagotchiByNameResponse" message="tns:ITamagotchiService_GetTamagotchiByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchies">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/GetTamagotchies" message="tns:ITamagotchiService_GetTamagotchies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/GetTamagotchiesResponse" message="tns:ITamagotchiService_GetTamagotchies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteAction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/ExecuteAction" message="tns:ITamagotchiService_ExecuteAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/ExecuteActionResponse" message="tns:ITamagotchiService_ExecuteAction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITamagotchiService" type="tns:ITamagotchiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTamagotchiByName">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetTamagotchiByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTamagotchies">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetTamagotchies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteAction">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/ExecuteAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TamagotchiService">
    <wsdl:port name="BasicHttpBinding_ITamagotchiService" binding="tns:BasicHttpBinding_ITamagotchiService">
      <soap:address location="http://localhost:14090/TamagotchiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>